<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalhe de receita e despesa</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Montante</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Descrição</td>
                  <td>Montante</td>
                  <td>Tipo</td>
                  <td>ações</td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  